/* styles.css */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #2F2F2F;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2F2F2F;
}
.logo {
    color: white;
    font-size: 24px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
nav ul li {
    color: white;
    margin-bottom: 10px;
}
main {
    padding: 20px;
}
.post {
    border: 1px solid #A6A6A6;
    margin-bottom: 20px;
    background-color: #2F2F2F;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.post-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.post-content {
    padding: 10px;
    align-items: center;
}
